# Arquivos de Build e Cache
**/target/
**/build/
**/out/
.gradle/

# Arquivos de IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Arquivos de Log
Log/
*.log

# Arquivos de ambiente (NUNCA comitar!)
.env