.consultaFormSection {
  width: 100%;
  background-color: #ffffff;
  padding: 1.5rem; // 24px
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1.5rem;
    text-align: center;
  }
}