.mySwiper {
  width: 100%;
  height: 100%;
  padding-bottom: 40px; // Espaço para a paginação
}

.swiperSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background: #fff;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
