@import '../../../../styles/variables';

.consultaListSection {
  width: 100%;
  
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: $text-color;
    margin-bottom: 1rem;
  }
}

.loading, .empty {
  padding: 2rem;
  text-align: center;
  font-size: 1.1rem;
  color: $text-secondary;
  background-color: $bg-input; // Fundo leve
  border-radius: $radius-md;
}