/* Estilos Mobile-First */
.navbar {
  background-color: #fff;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  padding: 0 24px;
  max-width: 1100px;
}

.navbarLogo {
  color: #333;
  justify-self: flex-start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-left: 24px;

  a {
    color: #333;
    text-decoration: none;
  }
}

.menuIcon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-100%, 60%);
  font-size: 1.8rem;
  cursor: pointer;
}

.faTimes {
  color: #333;
}

.navMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 80px;
  left: -100%;
  opacity: 1;
  transition: all 0.5s ease;

  &.active {
    background: #fff;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
}

.navItem {
  padding: 2rem 0;
  text-align: center;
}

.navLinks {
  color: #333;
  text-decoration: none;
  padding: 0.5rem 1rem;

  &:hover {
    background-color: #f4f4f4;
    border-radius: 4px;
    transition: all 0.3s ease;
  }
}

.navItemLogin {
  padding: 2rem 0;
  text-align: center;
}

.navLinksLogin {
  color: #fff;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
}

.navLogin {
  display: none;
}

/* Estilos para telas maiores (Desktop) */
@media screen and (min-width: 960px) {
  .menuIcon {
    display: none;
  }

  .navMenu {
    flex-direction: row;
    align-items: center;
    width: auto;
    height: auto;
    position: static;
    background: transparent;
  }

  .navItem {
    padding: 0;
    margin: 0 10px;
  }

  .navItemLogin {
    display: none;
  }

  .navLogin {
    display: flex;
    align-items: center;
  }
}