@use '../../styles/variables' as *;
// Ajuste o caminho acima conforme a localização real do seu arquivo de variáveis

.profileLogo {
  font-weight: 700;
}

.unauthenticatedContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 1rem; // Adiciona um respiro nas laterais
  text-align: center; // Garante que o texto quebre de forma centralizada
  font-size: 1.1rem; // Tamanho base para mobile
  color: $text-secondary; // Um cinza suave
  background-color: $bg-input; // Um fundo levemente acinzentado

  // Media query para telas maiores (tablets e desktops)
  @media (min-width: $breakpoint-md) {
    font-size: 1.25rem; // Aumenta a fonte em telas maiores
  }
}