.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 100%; // Garante que todos os cards tenham a mesma altura

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
}

.cardImage {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.cardContent {
  padding: 1rem;
  flex-grow: 1;

  h3 {
    margin-top: 0;
    font-size: 1.25rem;
  }

  p {
    font-size: 1rem;
    color: #555;
  }
}

