@import '../../../../styles/variables'; // Ajuste o caminho conforme sua estrutura

.profileContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;

  h2 {
    font-size: 1.5rem;
    color: $text-strong;
    border-bottom: 1px solid $border-light; // Borda mais sutil
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .infoCard {
    background-color: $white;
    border-radius: $radius-md;
    box-shadow: $shadow-card; // Sombra padronizada para cards
    overflow: hidden;
    border: 1px solid $border-light; // Opcional: borda fina para definição extra
  }
}