@import '../../../../styles/variables'; // Ajuste o caminho conforme necessário

.resultContainer {
  padding: 1rem;
  border-radius: $radius-md;
  border: 1px solid transparent; 
}

.loadingState {
  @extend .resultContainer;
  text-align: center;
  color: $text-secondary;
}

.errorState {
  @extend .resultContainer;
  background-color: $error-bg;
  border-color: $error-border;
  color: $error-text;

  strong {
    font-weight: 700;
  }
}

.defaultState {
  @extend .resultContainer;
  text-align: center;
  color: $text-light;
}

.successState {
  @extend .resultContainer;
  background-color: $success-bg;
  border-color: $success-border;
  box-shadow: $shadow-lg;

  h3 {
    font-size: 1.25rem;
    font-weight: 700;
    color: $success-text;
  }

  p {
    margin-top: 0.5rem;
    color: $text-secondary;

    &.usafaName {
      font-size: 1.125rem;
      color: $text-color;
    }
  }
}